.project-card {
  width: 100%;
  height: auto;
  aspect-ratio: 11/8;
  border-radius: 42px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.project-card .image {
    position: absolute;
    top: 50%;
    border-radius: 10px;
    left: 45%;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 25px 50px -12px;
    transform: rotate(30deg) translate(-50%, -10%) skew(-10deg) ;
    transition: scale 600ms ease-in-out;
    animation: rotateskew 5000ms ease-in-out infinite;
}

@keyframes rotateskew {
    0% {
        transform: rotate(30deg) translate(-50%, -10%) skew(-10deg) ;
    }
    50% {
        transform: rotate(32deg) translate(-50%, -10%) skew(-12deg);
    }
    100% {
        transform: rotate(30deg) translate(-50%, -10%) skew(-10deg);
    }
}

.project-card:hover .image {
    scale: 1.05;
}

.project-card .content {
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  flex: 1;
  padding: 8px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
}

.project-card .icon-box {
  height: 54px;
  width: 54px;
  aspect-ratio: 1;
  background-color: blue;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card .thumbnail-img {
    width: 22px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover .thumbnail-img {
  transform: scale(1.18);
}

.project-card h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: var(--gray-dark);
}

.project-card p {
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: var(--gray-dark);
  opacity: 0.6;
}

.project-card .link-box {
  height: 54px;
  width: 54px;
  aspect-ratio: 1;
  background-color: #f6f6f6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}
.project-card:hover .link-box {
  transform: rotate(0deg);
}

@media (max-width: 576px) {
  /* .project-card {
    width: 100%;
    max-width: 550px;
  } */
  .project-card h3 {
    font-size: 14px;
  }
  .project-card p {
    font-size: 13px;
  }
}
